// Override the Bootstrap defaults without modifying key, versioned files.
.sidebar .nav .nav-item .nav-link:hover i, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover i, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover i {
    color: #fff !important;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    margin-left: -4rem;
}

body {
    font-size: 12px;
    font-weight: 600;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.25rem 1rem;
}

.btn-product {
    padding: 25px;
    color: white;
    background-color: #7400b9;
    border-color: #6400a0 !important;
}

.btn-product:hover {
    background-color: #8400d3;
    border-color: #6400a0 !important;
}

.btn-product:active {
    color: white;
    background-color: #540087 !important;
    border: 1px solid #44006d !important;
}

.btn-product:focus {
    border: 1px solid #6400a0 !important;
}

.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.five-btns {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
}

.numpad > .numkey {
    display: -ms-flexbox;
    width: 23.944%;
    margin-bottom: 5px;
    margin-left: 2.015px;
    -ms-flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
}

#senior_numpad > .numpad > .numkey {
    display: -ms-flexbox;
    width: 23.944%;
    margin-bottom: 5px;
    margin-left: 5px;
    -ms-flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
}

.numkey {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 1.95rem 2.5rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.five-btns > .btn {
    padding-left: 5px;
    width: calc(20% - 1rem);
    margin: .875em .5em;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    padding: 25px 0px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    -webkit-transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: -webkit-box-shadow .1s ease,-webkit-transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
}

.btn-product > .product-body {
    margin-left: -1.2rem;
    padding-left: 10px;
}

.w-85 {
    width: 85%;
}

.w-80 {
    width: 80%;
}

.table-item > .sub-item {
    padding: 1px 1px;
    margin-left: 5px;
}

.table-order > thead > tr {
    font-size: 1rem;
}

.table-order > thead > tr > th {
    font-weight: 400;
}

.table-order > tbody > tr {
    font-size: 14px;
    font-weight: 300;
}

.order-body {
    padding: 0rem !important;
}

.order-body > table > thead > tr > th {
    border-top: none !important;
}

.w-81 {
    max-width: 81.333333%;
}

.dining_pad {
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
}

.dining_pad > .table-key {
    margin-bottom: 10px;
    margin-left: 10px;
    -ms-flex-direction: column;
    border-radius: .28571429rem;
}

.table-key {
    width: calc(10% - 1rem);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 1.3755rem 0.5rem;
    font-size: 1.35rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

::-webkit-scrollbar {
    width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: white !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.selected_order {
    background-color: #740000 !important;
    border-color: #5b0000 !important;
    color: white !important;
}

#customer_order:hover {
    background-color: #ddd;
    border-color: #ccc;
    color: black;
}

.order {
    position: fixed;
    z-index: 1019;
    height: 100%;
    margin-left: -3rem;
}

.order > .sidebar {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: 100%;
}

.order > .sidebar > .card > .card-body > .section {
    border-top: 1px solid #ddd;
}

.order > .sidebar > .card > .card-body > .section > .btn{
    margin-top: 1rem;
}

.order > .sidebar > .card > .card-body > .section > label, h5{
    margin-top: 1rem;
}

.fw-3 {
    font-weight: 300;
}

.w-31 {
    width: 31%;
}

.w-49-25 {
    width: 49.25%;
}

.w-47 {
    width: 47%;
}

.w-45 {
    width: 45%;
}

.mt-4 {
    margin-top: 3rem;
}

#ajaxSpinnerContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background-color: rgba(255,255,255, 0.45);
}

#ajaxSpinner {
    background: url("/img/frontend/spinner.gif") no-repeat center;
    width: 100%;
    height: 100%;
}

.fs-1 {
    font-size: 13px;
}

.fs-2 {
    font-size: 15px;
}

.fs-3 {
    font-size: 17px;
}

.receipt > p {
    padding: 0px 0px;
    margin-bottom: 0px;
}

@media print{
	* {
		visibility: hidden;
    }

	.modal-body {
		padding: 0;
    }

	.official_receipt {
		// width: 240px;
    }

	#printable {
		width: 240px;
		font-size: 12px;
		font-weight: bold;
		visibility: visible;
		display: block;
		margin-left:0;
		margin-right:0;
		border: 0;
		padding: 0;
    }

	.printable * {
		visibility: visible;
		margin: 0;
		padding:0;
    }

	#printable div table tbody {
		overflow-y: visible;
    }

	#print_discount {
		margin-bottom:25px;
    }

	.scrollable {
		width:100%;
		overflow-y: visible;
		height: 100%;
	}
}

.modal {
	overflow: scroll;
}